@model BIBLIOTECA.Models.Usuario

<div class="CRUD">
    <h3 class="CRUDTitulo">Editar Usuario</h3>

    <div class="form-horizontal">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IdUsuario)
            @Html.HiddenFor(model => model.IdPersona)
            @Html.HiddenFor(model => model.IdRol)
            @Html.HiddenFor(model => model.Estado)

            <table>
                <tr>
                    <td>@Html.LabelFor(model => model.NomUsuario)</td>
                    <td>@Html.TextBoxFor(model => model.NomUsuario, new { @class = "form-control", required = "required", placeholder = "Usuario" })</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Contrasena)</td>
                    <td>@Html.PasswordFor(model => model.Contrasena, new { @class = "form-control", required = "required", placeholder = "Contraseña Actual", maxlength = "20", minlength = "6" })</td>
                </tr>
                <tr>
                    <td colspan="2" class="td-btn">
                        <input type="submit" value="Editar" class="btn btn-success" />
                    </td>
                </tr>
            </table>
        }
    </div>
</div>