
@model BIBLIOTECA.Models.ViewModels.VistaReserva

@{
    ViewBag.Title = "Prestar";
    Layout = "~/Views/Shared/_Panel.cshtml";
}

<h2 class="titulo">Buscar reserva</h2>

<div class="contenido">
    @using (Html.BeginForm("PrestarReserva", "PrestarReserva", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="operaciones">
            <div style="display: flex;">
                <input type="text" data-autocomplete-url="@Url.Action("GetPersona")" onkeypress="return validar(event)" name="DNI" class="form-control miTextBox" required="required" placeholder="DNI de lector..." maxlength="8" , minlength="8" style="width: 120px;" />
                <input type="submit" value="Buscar" class="btn btn-default">
            </div>
        </div>
    }
        <div class="datos table table-responsive">
            <table id="tablaDeDatos" class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DetReserva.Libros.ISBN)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetReserva.Libros.Titulo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetReserva.Reservas.FecRecojo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetReserva.Reservas.FecReserva)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DetReserva.Pendiente)
                        </th>
                        <th>
                            Opciones
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @for (int i = 0; i < Model.ListaDetReserva.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => Model.ListaDetReserva[i].Libros.ISBN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.ListaDetReserva[i].Libros.Titulo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.ListaDetReserva[i].Reservas.FecRecojo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.ListaDetReserva[i].Reservas.FecReserva)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.ListaDetReserva[i].Pendiente)
                            </td>
                            <td>
                                @Html.ActionLink("Prestar", "Prestar", new { id = Model.ListaDetReserva[i].IdReservaDetalle }) |
                                @Html.ActionLink("Cancelar", "Cancelar", new { id = Model.ListaDetReserva[i].IdReservaDetalle })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
</div>

<h3>@ViewBag.Message</h3>

<!--        ERRORES?          -->

@if (ViewBag.Error != null || !string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-dismissible alert-danger" style="margin-bottom: 10px;"> <button type="button" class="close" data-dismiss="alert">&times;</button> <center><p>@ViewBag.Error</p></center></div>
}

@if (ViewBag.Message != null || !string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-dismissible alert-success" style="margin-bottom: 10px;"> <button type="button" class="close" data-dismiss="alert">&times;</button> <center><p>@ViewBag.Message</p></center></div>
}